iframe{
position:absolute;
top:0%;
left:0%;
width:100%;
height:100%;
border:none;
}
#flink{
position:absolute;
left:-1%;
width:18%;
}
li.flink{
list-style:none;
}
img.flink{
width:90%;
}
#main{
position:absolute;
top:0%;
left:18%;
width:82%;
height:95%;
}
#time{
position:absolute;
top:93%;
left:18%;
width:82%;
}
p.clock{
text-align:left;
color:#cde;
font-size:18pt;
}
body{
background-image:url(background.jpg);
background-size:500%;
background-repeat:no-repeat;
color:#fff;
}
body.HOR{
background-image:url(HORBackGround.jpg);
background-size:1100%;
background-repeat:no-repeat;
}
body.s{
background-image:url(SBackGround.jpg);
background-size:1450%;
background-repeat:no-repeat;
}
body.hc{
background-image:url(HCBackGround.jpg);
background-size:1400%;
background-repeat:no-repeat;
}
body.eg{
background-image:url(EGBackGround.jpg);
background-size:1500%;
background-repeat:no-repeat;
}
h1{
position:absolute;
left:300px;
top:40px;
color:#fff;
}
h3{
color:#199;
}
h3.hor{
color:#007;
}
h4{
color:#985814;
}
h4.hor{
color:#201314;
}
img.logo{
width:200px;
height:120px;
border:0px;
margin-left:100px;
margin-top:20px;
}
#header{
background-color:transparent;/*#617bb6*/
height:150px;
margin-top:-20px;
margin-left:-10px;
width:100%;
}
#menu{
background-color:#334420;
float:left;
height:45px;
width:93%;
margin-left:3%;
margin-top:0px;
position:relative;
border-radius:5px;
}
li.dmenu{
position:relative;
float:left;
list-style:none;
margin-top:-28px;
margin-right:20px;
margin-left:10px;
width:15%;
text-align:center;
}
li.dmenu a,li.menu a{
color:#709394;
}
li.dmenu a:hover,li.menu a:hover{
color:#709394;
}
li.menu{
position:relative;
float:left;
list-style:none;
margin-top:-11px;
margin-right:20px;
margin-left:10px;
width:11%;
height:30px;
text-align:center;
}
a{
text-decoration:none;
color:black;
}
a.list:hover{
color:#fff;
}
#link{
position:absolute;
left:4%;
margin-top:50px;
width:27%;
}
#music{
margin-top:3%;
float:left;
width:92%;
margin-left:5%;
}
#yes{
top:35%;
width:28%;
left:4%;
color:#201314;
background-color:#709394;
position:fixed;
z-index:1;
padding-top:1%;
opacity:0
}
input{
margin-bottom:5%;
margin-left:5%;
text-align:center;
}
form{
text-align:left;
}
audio{
width:100%;
#height:100%;
padding:5px 10px 5px 10px;
background-color:#731;
border-radius:5px;
}
li.headline a{
font-size:16pt;
color:#709394;
}
li.horheadline a{
font-size:16pt;
color:#192168;
}
li.sheadline a{
font-size:16pt;
color:#142857;
}
li.headline,li.horheadline,li.sheadline{
list-style-type:square;
color:#814;
margin-bottom:5px;
}

li.sub a{
font-size:14pt;
color:#520;
}
li.horsub a{
font-size:14pt;
color:#201314;
}
li.sub,li.horsub{
color:#520;
margin-top:3px;
}
li.menu a:link{
background-color:#334420;
display:block;
height:30px;
margin-top:-20px;
padding-top:5px;
}
li.dmenu a:link{
background-color:#334420;
display:block;
height:30px;
margin-top:-9px;
padding-top:5px;
}
li.menu a:hover{
background-color:#fff;
display:block;
height:31px;
margin-top:-26px;
padding-top:15px;
border-radius:10px;
}
li.dmenu a:hover{
background-color:#fff;
display:block;
height:36px;
margin-top:-9px;
padding-top:9px;
border-radius:10px;
}
#content{
float:left;
width:58%;
border-left:3px solid yellow;
margin-left:33%;
margin-top:15px;
margin-bottom:15px;
color:#fff;
padding-left:20px;
}
#hccontent{
float:left;
width:58%;
border-left:3px solid yellow;
margin-left:33%;
margin-top:15px;
margin-bottom:15px;
color:#444;
padding-left:20px;
}
#scontent1{
float:left;
color:#444;
width:103%;
}
#scontent2{
float:left;
width:50%;
}
#scontent3{
float:left;
width:45%;
margin-left:5%;
margin-top:-20px;
}
#scontent4{
float:left;
color:#222;
width:103%;
}
dt{
color:#111;
font-weight:bold;
}
dd{
color:#222;
}
img.content{
width:50%;
}
img.scontent2{
width:100%;
height:470px;
}
p.caption{
color:#201314;
text-align:center;
font-size:16pt;
font-weight:bold;
}
table{
border:2px solid #333;
text-align:center;
border-collapse:collapse;
width:100%;
height:200px;
}
table.hor{
border:2px solid #520;
text-align:center;
border-collapse:collapse;
width:100%;
height:500px;
}
table.s{
border:2px solid #520;
text-align:center;
border-collapse:collapse;
width:100%;
height:700px;
}
table.hc{
border:2px solid #333;
text-align:center;
border-collapse:collapse;
width:100%;
height:100px;
}
th{
border:1px solid #666;
color:#111;
background-color:#099;
}
td{
border:1px solid #666;
color:#111;
background-color:#699;
}
td.stagger{
background-color:#399;
}
td.horstagger{
background-color:#985;
}
img{
border:0px;
}
#copyright{
float:left;
color:#ddd;
border-top:3px solid #ddd;
margin-left:5%;
width:84%;
padding-left:3%;
padding-right:2%;
}
a.contact{
text-decoration:underline;
color:#fff;
}
a.contact:hover{
color:red;
}
button.r{
top:88%;
right:0%;
position:fixed;
width:60px;
}
p.control{
top:92%;
right:0%;
position:fixed;
}
p.control a:hover{
color:#fff;
}